<div class="b">
<h1 class="text-center">KERALA DISTRICTS</h1>
</div>
<div class="container">
  <div class="row">
    @for (item of districts; track $index) {
    <div class="col">
      <div class="card" style="width: 300px;height:450px;background-image:url(https://images.unsplash.com/photo-1614754844959-5e29c8ac2b26?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww)">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.desc}}</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>